body {
    background-image: url(https://m.media-amazon.com/images/I/91G85qo4zML._AC_UF894,1000_QL80_.jpg);
    background-position: center;
}
#titulo {
    color: #000000;
    text-align: center;
}
.dupla{
    text-align: center;
}
.Marinette{
    color: #000000;
    text-align: center;
    background-color: #ff0000;
}
.amigos{
        color: #000000;
    text-align: center;
    background-color: #ff0000;
}
.Joaninha{
    background-color: #ff0000;
}
#Lady{
    text-align: center;
}
.catnoir{
    display: block;
    margin: 0%;
}
h2{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
